<nav class="nav">
    <div class="menu">
        <label class="open" for=""><a href="/">PEF_CURRUNT</a></label>
        <label class="open" for=""><a href="/packet">PACKET</a></label>
    </div>
</nav>